html {
  scroll-behavior: smooth;
}
html,
body,ul,section,div,p{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar, ul::-webkit-scrollbar,section::-webkit-scrollbar,div::-webkit-scrollbar,p::-webkit-scrollbar{
  display: none;             /* Chrome, Safari, Opera */
}